body {
	padding-top: 70px; /* 70px to make the container go all the way to the bottom of the topbar */
	/* font-family: 'Open Sans', sans-serif; */
  font-family: 'Lato', sans-serif;
  color: rgb(70,70,72);
	/* font-family: 'Lato', sans-serif; */
}

h1, h2, h3, h4, h5, h6, p {
	/* font-family: 'Open Sans', sans-serif; */
  font-family: 'Lato', sans-serif;
}

a {
  color: inherit;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none;
}

/* navbar */

.navbar-default {
	background-color: white;
}

.navbar-brand {
	padding: 5px 15px;
	font-size: 26px;
}

.logo {
	float: left;
}

.name {
	float: left;
	padding-top: 10px;
	padding-left: 12px;
	color: rgb(150,152,156);
  /* font-weight: 300; */
}

.census {
	color: rgb(70,70,72);
}

.navbar-toggle {
  border-radius: 0px;
  border: none;
}

/* main */

main {
  padding-top: 30px;
  padding-bottom: 40px;
}

.tabs-left .nav-tabs li > a {
  font-weight: 300;
}

.table-side h3 {
  margin-top: 2px;
  margin-bottom: 20px;
}

.table-side p {
  margin: 0 0 2px;
}

.percent {
  color: rgb(150,152,156);
  font-style: italic;
  font-size: 13px;
}

.table {
  margin-bottom: 6px;
}

.table-side {
  border-right: 1px solid #ddd;
}

.table-side .table>tbody>tr>td {
  border-top: none;
  padding-left: 0px;
}

.table-side ul li {
  padding-bottom: 40px;
}

p.top-level {
  color: rgb(150,152,156);
}

p.view-more {
  color: rgb(150,152,156);
  font-style: italic;
}

.more-categories {
  color: #428bca;
  font-size: 24px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  font-weight: bold;
}

.tabs-left .nav-tabs {
  font-size: 18px;
}

.tabs-left .nav-tabs li > a {
  border-radius: 0px;
}

a:hover, a:focus {
  color: #428bca;
}

.top-bar {
  width: 60px;
  background-color: rgb(70,70,72);
  border: 1px solid rgb(70,70,72);
}

.mid-bar {
  width: 60px;
  background-color: rgb(150,152,156);
  border: 1px solid rgb(150,152,156);
}

.bot-bar {
  width: 60px;
  border: 1px solid rgb(150,152,156);
}

.tooltip-inner {
  background-color: rgb(70,70,72);
}

.tooltip.right .tooltip-arrow {
  border-right: 5px solid rgb(70,70,72);
}

@media (max-width: 767px) {
  .more-categories {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
  }

}

/* Featured Stacks side */

.featured-stacks-side h2{
  margin-top: 0px;
  margin-bottom: 36px;
  font-size: 24px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.featured-stacks-side img{
  float: left;
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.featured-stacks-side h4 {
  font-size: 18px;
  color: rgb(150,152,156);
}

.featured-stacks-side a:hover h4 {
  color: #428bca;
}

.featured-stacks-side table {
  margin-top: 20px;
}

.feat-category {
  font-size: 12px;
  color: rgb(150,152,156);
}

.featured-stacks-side .table>tbody>tr>td {
  border-top: none;
  padding-left: 0px;
}

.featured-stacks-side li {
  margin-bottom: 40px;
}

.featured-stacks-side li:first-of-type {
  margin-bottom: 30px;
}

.featured-stacks-side p.view-more {
  margin-bottom: 0px;
}

/* modal */

.modal-dialog {
  max-width: 380px;
}

.modal-header {
  border-bottom: none;
  padding:24px;
}

.modal-content {
  border-radius: 0px;
  margin:24px;
}

.modal-body {
  padding: 24px;
  padding-top: 10px;
}

.form-control {
  border-radius: 0px;
}

.form-control:focus {
  border-color: white;
  border-bottom-color: rgb(70,70,72);
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn {
  border-radius: 0px;
}

.modal-body .btn {
  margin-left: 6px;
  color: rgb(70,70,72);
  background-color:rgb(216,216,216);
}

.modal-body .btn:hover {
  color: white;
  background-color: rgb(70,70,72);
}



/* Profile page layout */

.profile-layout h1{
  font-size: 24px;
  padding-top: 20px;
}

.profile-layout img{
  float: left;
  height: 150px;
  width: 150px;
  margin-right: 20px;
}

.profile-layout h2 {
  font-size: 18px;
  color: rgb(150,152,156);
  margin-top: 10px;
}

.profile-layout h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-layout .btn {
  color: white;
  background-color: #428bca;
  border-color: #428bca;
  margin-top: 32px;
}

.profile-layout .btn:hover {
  color: #428bca;
  background-color: white;
  /* border-color: rgb(70,70,72); */
}

.profile-layout table {
  margin-top: 6px;
}

.profile-layout .table>tbody>tr>td {
  border-top: none;
  padding-left: 0px;
}

.profile-layout .category {
  margin-bottom: 30px;
}

.profile-layout .category h4 {
  color: rgb(150,152,156);
  border-bottom: rgb(150,152,156) 1px solid;
  font-size: 16px;
  padding-bottom: 4px;
}

.profile-layout .prod-category {
  font-size: 16px;
  color: rgb(150,152,156);
  font-weight: 300;
}

.profile-layout .prod {
  font-size: 18px;
  color: rgb(70,70,72);
  /* padding-bottom: 20px; */
}

.profile-layout .prod p.comment {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  max-width: 230px;
}

.profile-layout .prod img{
  height: 40px;
  width: 40px;
}

.profile-layout .prod>div:not(:first-child) {
  margin-top: 0px;
}

.profile-layout .prod div div{
  margin-top: 9px;
  margin-bottom: 14px;
  display: inline-block;
}











